<!-- Footer Start -->
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                2019 © Edouard MF x DAMS
            </div>
            <!--
            <div class="col-md-6">
                <div class="text-md-right footer-links d-none d-md-block">
                    <a href="http://www.fiaformula2.com/">Formula 2</a>
                    <a href="http://www.fiaformula3.com/">Formula 3</a>
                    <a href="https://www.fiaformulae.com/">Formula E</a>
                </div>
            </div>
            -->
        </div>
    </div>
</footer>
<!-- end Footer -->