{% extends 'layouts/main.layout.html' %}

{% load static %}

{% block title %}
Formula - ANALYSIS
{% endblock title %}

{% block extra_css %}

    <link href="{% static 'css/vendor/sweetalert2.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/vendor/ion.rangeSlider.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/vendor/ion.rangeSlider.skinModern.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/vendor/powerange.css' %}" rel="stylesheet" type="text/css" />

{% endblock extra_css %}


{% block content %}

    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="/">Formula Live Site</a></li>
                            <li class="breadcrumb-item active">analysis</li>
                        </ol>
                    </div>
                    <div class="page-title row">
                        <h4 class="page-title col-auto">
                            Analysis - Live Scoreboard
                        </h4>
                        <div class="col-auto align-item-center">
                            <button class="btn btn-info waves-effect px-4 align-self-center report-btn ml-2" id="btn-replay" data-toggle="modal" data-target="#custom-modal" data-animation="bounce" data-plugin="custommodal" data-overlayColor="#38414a">
                                <span id="spinner-replay" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
                                <span class="spinner-title">Replay Session</span>
                            </button>
                            <!-- player controller bar -->
                            <div id="slider-player" hidden>
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-secondary" id="btn-play"><i class="mdi mdi-play"></i></button>
                                    <button type="button" class="btn btn-secondary" id="btn-pause"><i class="mdi mdi-pause"></i></button>
                                    <button type="button" class="btn btn-secondary" id="btn-stop"><i class="mdi mdi-stop"></i></button>
                                </div>
                                <div class="float-right">
                                    <div class="slider-wrapper">
                                        <input type="text" class="js-callback" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- custom modal -->
                    <div id="custom-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title mt-0" id="exampleModalLabel">Select the old session to replay</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <ul class="list-unstyled">
                                        {% for ses in sessions_all %}
                                        <li>
                                            <a class="select-session" data-dismiss="modal" aria-label="Close" href="#" data-session="{{ ses.id }}">
                                                {{ ses.title }}
                                            </a>
                                            <span class="float-right">{{ ses.start_time }}</span>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div><!-- /.modal-content -->
                        </div>
                    </div><!-- /.modal -->
                </div>
            </div>
        </div>     
        <!-- end page title --> 

        <div class="row">
            <div class="col-12">
    
                <!--   Start of Analysis Graph -->
                <div class="card ">
                    <div class="card-body">
                        <h4 class="mt-1 header-title mb-4">
                            <i class="mdi mdi-chart-bell-curve mr-2"></i> 
                            <span id="analysis-graph-title">
                                {{ current_session_title }}
                            </span>
                            <a href="#" class="float-right" id="btn-analysis-gragh-refresh" title="refresh">
                                <i class="mdi mdi-refresh mdi-24px"></i>
                            </a>
                        </h4>

                        {% verbatim %}

                        <div ng-switch="feed.Session1">
                            <!-- RACE -->
                            <div class="chart-wrapper">
                                <div class="form-group row">
                                    <label class="col-sm-1 col-form-label text-right">Value</label>
                                    <div class="col-sm-2">
                                        <select class="custom-select" id="select-yAxis">
                                            <option value="LAP" selected>LAP TIME</option>
                                            <option value="BEST">BEST TIME</option>
                                            <option value="S1">SECTOR 1</option>
                                            <option value="S2">SECTOR 2</option>
                                            <option value="S3">SECTOR 3</option>
                                        </select>
                                    </div>
                                    <label class="col-sm-1 col-form-label text-right">X-AXIS</label>
                                    <div class="col-sm-2">
                                        <select class="custom-select" id="select-xAxis">
                                            <option value="LAP" selected>LAP</option>
                                            <option value="TIME">TIME</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-4 offset-sm-1">
                                        <input type="text" id="range_03">
                                    </div>
                                </div>
                                <div class="chart-demo">
                                    <div id="apex_line1" class="apex-charts"></div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12" ng-cloak="" ng-switch-when="Race">
                                        <div class="col-md-1 form-check-inline" ng-repeat="line in sortedRealDrivers | orderBy : 'number/1' track by $index" ng-if="line.number && line.isReal">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input check-chart-driver" id="customCheck{{line.number}}" data-parsley-multiple="groups" data-parsley-mincheck="2">
                                                <label class="custom-control-label" for="customCheck{{line.number}}">{{line.number + "." + line.shortName}}</label>
                                            </div>
                                        </div>
                                    </div>
                
                                    <!-- LOADER -->
                                    <div class="loader" ng-switch-default="" aria-hidden="true">
                                        <div class="bar"></div>
                                        <div class="bar"></div>
                                        <div class="bar"></div>
                                        <div class="fallback">Loading...</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% endverbatim %}
                
                    </div>
                </div>
                <!--   End of Analysis Graph -->

            </div>
        </div>
    </div>

{% endblock content %}

{% block extra_js %}

    <!-- third party js -->
    <script src="{% static 'js/vendor/Chart.bundle.min.js' %}"></script>
    <script src="{% static 'js/vendor/sweetalert2.min.js' %}"></script>
    <script src="{% static 'js/vendor/powerange.js' %}"></script>
    <script src="{% static 'js/vendor/apexcharts.min.js' %}"></script>
    <!-- third party js ends -->

    <!-- signalR js -->
    <script src="{% static 'js/jquery-1.12.2.min.js' %}"></script>
    <script src="{% static 'js/modernizr-custom.js' %}"></script>
    <script src="{% static 'js/jquery.signalR-2.2.0.min.js' %}"></script>
    <script src="{% static 'js/angular-1.5.0.min.js' %}"></script>
    <script src="http://gpserieslivetiming.cloudapp.net/streaming/hubs"></script>
    <script src="{% static 'js/vendor/ion.rangeSlider.min.js' %}"></script>
    <script src="{% static 'js/timing.js' %}"></script>
    <!-- signalR js ends -->
    
{% endblock extra_js %}