{% extends 'layouts/main.layout.html' %}

{% load static %}

{% block title %}
Formula - HOME
{% endblock title %}

{% block extra_css %}

    <link href="{% static 'css/vendor/sweetalert2.min.css' %}" rel="stylesheet" type="text/css" />
    
{% endblock extra_css %}


{% block content %}

    <div class="container-fluid">

        

    </div>

{% endblock content %}

{% block extra_js %}

    <!-- third party js -->
    <script src="{% static 'js/vendor/Chart.bundle.min.js' %}"></script>
    <script src="{% static 'js/vendor/sweetalert2.min.js' %}"></script>
    <!-- third party js ends -->

    <!-- signalR js -->
    <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'js/modernizr-custom.js' %}"></script>
    <script src="{% static 'js/jquery.signalR-2.4.1.min.js' %}"></script>
    <script src="{% static 'js/angular-1.5.0.min.js' %}"></script>
    <script src="{% static 'js/hubs.js' %}"></script>
    <script src="{% static 'js/timing.js' %}"></script>
    <!-- signalR js ends -->
    
{% endblock extra_js %}