{% extends 'layouts/main.layout.html' %}

{% load static %}

{% block title %}
Formula - MANAGE
{% endblock title %}

{% block extra_css %}

    <link href="{% static 'css/vendor/sweetalert2.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/vendor/themify-icons.css' %}" rel="stylesheet" type="text/css" />
    
{% endblock extra_css %}


{% block content %}

    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="/">Formula Live Site</a></li>
                            <li class="breadcrumb-item active">manage</li>
                        </ol>
                    </div>
                    <div class="page-title row">
                        <h4 class="page-title col-auto">
                            User Management - Live Scoreboard
                        </h4>
                    </div>
                </div>
            </div>
        </div>     
        <!-- end page title --> 

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="mt-0 header-title">Users Table</h4>
                        <p class="text-muted mb-4 font-13">
                            You can add new user and edit all users.
                            <button type="button" id="btn-add-new-user" class="btn btn-primary waves-effect waves-light float-right">Add new User</button>
                        </p>
                        
                        <table class="table mb-0" id="table-user">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>User ID</th>
                                    <th>Password</th>
                                    <th>Championship</th>
                                    <th>Privilege</th>
                                    <th>Is Admin?</th>
                                    <th>Team</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for u in all_users %}
                                <tr>
                                    <td>{{ u.id }}</td>
                                    <td>{{ u.user_id }}</td>
                                    <td>{{ u.password }}</td>
                                    <td>{{ u.championship }}</td>
                                    <td>{{ u.privilege }}</td>
                                    <td>{{ u.is_admin }}</td>
                                    <td>{{ u.team.team_name }}</td>
                                </tr>
                                {% endfor %}
                                <tr data-id="table-user-last-tr" hidden>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table><!--end table-->
                    </div>
                </div>
            </div>
        
            <script>
                var allTeamsByUsers = '{{ teams_titles }}';
                allTeamsByUsers = allTeamsByUsers.replace(/#/g, '"');
            </script>
        </div>
        <!-- end row -->

    </div>

{% endblock content %}

{% block extra_js %}

    <!-- third party js -->
    <script src="{% static 'js/vendor/Chart.bundle.min.js' %}"></script>
    <script src="{% static 'js/vendor/sweetalert2.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery.tabledit.js' %}"></script>
    <script src="{% static 'js/vendor/jquery.tabledit.init.js' %}"></script>
    <!-- third party js ends -->

    <!-- signalR js -->
    <!-- <script src="{% static 'js/jquery-1.12.2.min.js' %}"></script>
    <script src="{% static 'js/modernizr-custom.js' %}"></script>
    <script src="{% static 'js/jquery.signalR-2.2.0.min.js' %}"></script>
    <script src="{% static 'js/angular-1.5.0.min.js' %}"></script>
    <script src="http://gpserieslivetiming.cloudapp.net/streaming/hubs"></script> -->
    <script src="{% static 'js/timing.js' %}"></script>
    <!-- signalR js ends -->
    
{% endblock extra_js %}