{% extends 'layouts/blank.layout.html' %}

{% load static %}

{% block title %}
Formula - Register
{% endblock title %}

{% block content %}

<div class="account-pages mt-5 mb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card">
                    <!-- Logo-->
                    <div class="card-header pt-4 pb-4 text-center bg-primary">
                        <a href="/">
                            <span><img src="{% static 'images/logo.png' %}" alt="" height="18"></span>
                        </a>
                    </div>

                    <div class="card-body p-4">
                        
                        <div class="text-center w-75 m-auto">
                            <h4 class="text-dark-50 text-center mt-0 font-weight-bold">Sign Up</h4>
                            <p class="text-muted mb-4">Don't have an account? Create your account</p>
                        </div>

                        <form action="" method="POST">

                            {% csrf_token %}

                            <div class="form-group">
                                <label for="userid">User ID</label>
                                <input class="form-control" type="text" name="userid" id="userid" placeholder="Enter your user id" required>
                            </div>

                            <div class="form-group">
                                <label for="userpassword">Password</label>
                                <input class="form-control" type="password" name="userpassword" id="userpassword" required placeholder="Enter your password">
                            </div>

                            <div class="form-group">
                                <label for="confirmpassword">Confirm Password</label>
                                <input class="form-control" type="password" required name="confirmpassword" id="confirmpassword" placeholder="Enter your confirm password">
                            </div>

                            <div class="form-group">
                                <label for="championship">Championship</label>
                                <select class="custom-select" name="championship" id="championship" required>
                                    <option selected disabled>Select Championship</option>
                                    <option value="f2">Formula 2</option>
                                    <option value="f3">Formula 3</option>
                                    <option value="fe">Formula E</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="team">Team</label>
                                <select class="custom-select" name="team" id="team" required>
                                    <option selected disabled>Select Team</option>
                                    {% for team in teams %}
                                    <option value="{{team.id}}">{{ team.team_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="privilege">Privilege</label>
                                <select class="custom-select" name="privilege" id="privilege" required>
                                    <option selected disabled>Select Privilege</option>
                                    <option value="ALL">ALL ACCESS</option>
                                    <option value="SOME">SOME ACCESS</option>
                                    <option value="LESS">LESS ACCESS</option>
                                    <option value="POOR">POOR ACCESS</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="checkbox-signup">
                                    <label class="custom-control-label" for="checkbox-signup">I accept <a href="#" class="text-muted">Terms and Conditions</a></label>
                                </div>
                            </div>

                            <div class="form-group mb-0 text-center">
                                <button class="btn btn-primary" type="submit"> Sign Up </button>
                            </div>

                        </form>
                    </div> <!-- end card-body -->
                </div>
                <!-- end card -->

                <div class="row mt-3">
                    <div class="col-12 text-center">
                        <p class="text-muted">Already have account? <a href="/user/login" class="text-muted ml-1"><b>Log In</b></a></p>
                    </div> <!-- end col-->
                </div>
                <!-- end row -->

            </div> <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- end page -->

{% endblock content %}