{% extends 'layouts/blank.layout.html' %}

{% load static %}

{% block title %}
Formula - SAVE
{% endblock title %}

{% block content %}

    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">

            <div class="page-content" ng-controller="page">
                <div ng-switch="feed.Session1">
                    <!-- RACE -->
                    <div ng-cloak="" ng-switch-when="Race">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <h3 class="mt-1 header-title mb-4 text-primary"><i class="mdi mdi-balloon"></i> Save</h3>
                                    <p class="text-center">
                                        <i class="mdi mdi-timer-sand mdi-48px text-success mdi-spin progress-icon-spin"></i>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <ul class="mb-0" id="ul-show-logs" style="overflow: scroll; height: 300px;">
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- LOADER -->
                    <div class="loader" ng-switch-default="" aria-hidden="true">
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="fallback">Loading...</div>
                    </div>
                </div>
            </div>
            <!-- end page content -->
        </div>
        <!-- end page-wrapper-inner -->
    </div>
    <!-- end page-wrapper -->
 
    <script type="text/javascript">
        var connectionHubUrl = "http://gpserieslivetiming.cloudapp.net/streaming";
        var series = "{{ championship }}";
        if(series == "f2") series = "F2"; else series = "F3";

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'GTM-M8V3HMX']);
        _gaq.push(['_setDomainName', '.gp2series.com']);
        _gaq.push(['_trackPageview']);

        var gameId = parseInt("{{ game_id }}");
        var lastGameId = parseInt("{{ last_game_id }}");
        var flagAjax = true;

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
        
        var savingLogData = [];
        const MAX_LOG_SHOW_LENGTH = 100;
        var showSavingLogs = function(){
            if(!document.getElementById("ul-show-logs")) return ;
    
            let innerHTMLData = savingLogData.map(d => '<li><p>'+d.date+'</p><p>'+d.status+'</p></li>');
            
            document.getElementById("ul-show-logs").innerHTML = innerHTMLData.join("");
        };
    
        var addSavingLogs = function(dateTime, status){
            savingLogData.push({date : dateTime, status : status});
    
            if(savingLogData.length > MAX_LOG_SHOW_LENGTH){
                savingLogData = savingLogData.slice(10);
            }
    
            showSavingLogs();
        };
    
    </script>

{% endblock content %}

{% block extra_js %}

    <!-- signalR js -->
    <script src="{% static 'js/jquery-1.12.2.min.js' %}"></script>
    <script src="{% static 'js/modernizr-custom.js' %}"></script>
    <script src="{% static 'js/jquery.signalR-2.2.0.min.js' %}"></script>
    <script src="{% static 'js/angular-1.5.0.min.js' %}"></script>
    <script src="https://ltss.fiaformula2.com/streaming/hubs"></script>
    <script src="{% static 'js/timing.js' %}"></script>
    <!-- signalR js ends -->
    
{% endblock extra_js %}