{% extends 'layouts/main.layout.html' %}

{% load static %}

{% block title %}
Formula - Circle Map
{% endblock title %}

{% block extra_css %}

<link href="{% static 'css/vendor/sweetalert2.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'css/vendor/powerange.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'css/timing_map.css' %}" rel="stylesheet" type="text/css" />

{% endblock extra_css %}


{% block content %}

<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="/">Formula Live Site</a></li>
                        <li class="breadcrumb-item active">Circle Map</li>
                    </ol>
                </div>
                <div class="page-title row">
                    <h4 class="page-title col-auto">
                        Circle Map - Analysis
                    </h4>
                    <div class="col-auto align-item-center">
                    </div>
                </div>
            </div>
        </div>
    </div>     
    <!-- end page title --> 

    <div class="row">

        <div class="col-lg-6 col-md-12">

            <div class="row">

                <div class="col-12">
                    <!--   Start of Circle Map -->
                    <div class="card ">
                        <div class="card-body">

                            <h4 class="mb-2 text-uppercase"><i class="mdi mdi-map-marker-circle float-right text-muted"></i> Circle Map</h4>

                            <div id="app">
                                <div class="screen analysis-screen">
                                    <div class="analysis-screen-container">
                                        <svg class="radar" viewBox="-120 -120 240 240">
                                            <g>
                                                <circle class="base" cx="0" cy="0" r="100"></circle>
                                                <line class="base lap-marker" x1="0" x2="24" y1="-100" y2="-100"></line>
                                                <text class="base" x="25" y="-99" id="lap-0">Lap 1</text>
                                                <circle class="base" cx="0" cy="0" r="85"></circle>
                                                <line class="base lap-marker" x1="0" x2="24" y1="-85" y2="-85"></line>
                                                <text class="base" x="25" y="-84" id="lap-1">Lap 0</text>
                                                <circle class="base" cx="0" cy="0" r="70"></circle>
                                                <line class="base lap-marker" x1="0" x2="24" y1="-70" y2="-70"></line>
                                                <text class="base" x="25" y="-69" id="lap-2">Others</text>
                                                <line class="base" x1="0" x2="0" y1="-70" y2="-100"></line>
                                            </g>
                                            <g>
                                                {% for id in drivers_range %}
                                                <g class="car" id="car-id-{{ id }}" hidden>
                                                    <line x1="0" x2="0" y1="0" y2="-100"></line>
                                                    <circle cx="0" cy="-100" r="5"></circle>
                                                    <text x="0" y="-100">{{ id }}</text>
                                                </g>
                                                {% endfor %}
                                            </g>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        
                        </div>
                    </div>
                    <!--   End of Circle Map -->
                </div>

            </div>

        </div>

        <div class="col-lg-6 col-md-12">

            <div class="row">

                <div class="col-12">
                    <!--   Start of Ranking Scoreboard -->
                    <div class="card ">
                        <div class="card-body" style="padding-top: 10px; padding-bottom: 10px;">
                            <h4 class="mb-2 text-uppercase"><i class="mdi mdi-clipboard-text-outline float-right text-muted"></i> Live Ranking Scoreboard</h4>
                    
                            {% verbatim %}

                            <div ng-switch="feed.Session1" class="table-rep-plugin">
                                <!-- RACE -->
                                <div class="table-wrapper" ng-cloak="" ng-switch-when="Race">

                                    <div class="table-responsive mb-0" id="main-panel-table" data-pattern="priority-columns">
                                        <table class="table table-striped mb-0 table-bordered dt-responsive nowrap dataTable no-footer dtr-inline" id="table-board" aria-hidden="true">
                                            <thead class="text-center">
                                                <tr>
                                                    <th class="hidden"></th>
                                                    <th class="position" value="tech-companies-1-col-1">P</th>
                                                    <th class="car-number" value="tech-companies-1-col-2">NO</th>
                                                    <th class="driver-full-name" value="tech-companies-1-col-3">NAME</th>
                                                    <th class="gap" value="tech-companies-1-col-4">GAP</th>
                                                    <th class="interval" value="tech-companies-1-col-5">INT</th>
                                                    <th class="best-lap" value="tech-companies-1-col-10">TIME</th>
                                                    <th class="sector1-time" value="tech-companies-1-col-7">S1</th>
                                                    <th class="sector2-time" value="tech-companies-1-col-8">S2</th>
                                                    <th class="sector3-time" value="tech-companies-1-col-9">S3</th>
                                                    <th class="best" value="tech-companies-1-col-6">BEST</th>
                                                    <th class="lap" value="tech-companies-1-col-11">LAP</th>
                                                    <th class="pit" value="tech-companies-1-col-12">PIT</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr 
                                                    ng-repeat="line in sortedRealDrivers track by $index" 
                                                    ng-if="line.number" 
                                                    class="{{line.colorValue}} {{(line.isReal)?'':'is-virtual'}} {{(line.hasFocusClass)?'focused':'unfocused'}}"
                                                    id="tr-{{line.indexKey}}"
                                                >
                                                    <td class="text-center">
                                                        <div class="checkbox">
                                                            <div class="custom-control custom-checkbox">
                                                                <input type="checkbox" class="custom-control-input" id="customCheck{{line.indexKey}}" data-parsley-multiple="groups" data-parsley-mincheck="2" data-driver-name="{{line.name}}" >
                                                                <label class="custom-control-label" for="customCheck{{line.indexKey}}"></label>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="position text-center" ng-bind="line.pos"></td>
                                                    <td class="car-number text-center" ng-bind="line.number"></td>
                                                    <td class="driver-full-name" ng-bind="line.name"></td>
                                                    <td class="gap text-center" ng-bind="line.GAP"></td>
                                                    <td class="interval text-center" ng-bind="line.INT"></td>
                                                    <td class="best-lap text-center" ng-bind="(line.isReal)?line.LAPTIME:null" ng-style="{color:(line.color)}"></td>
                                                    <td class="sector1-time text-center" ng-bind="(line.isReal)?line.S1:null" ng-style="{color:(line.color1)}"></td>
                                                    <td class="sector2-time text-center" ng-bind="(line.isReal)?line.S2:null" ng-style="{color:(line.color2)}"></td>
                                                    <td class="sector3-time text-center" ng-bind="(line.isReal)?line.S3:null" ng-style="{color:(line.color3)}"></td>
                                                    <td class="best text-center" ng-bind="(line.isReal)?line.BEST:null"></td>
                                                    <td class="lap text-center" ng-bind="(line.isReal)?line.LAP:null"></td>
                                                    <td class="pit text-center" ng-bind="(line.isReal)?line.PIT:null"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                    
                                <!-- LOADER -->
                                <div class="loader" ng-switch-default="" aria-hidden="true">
                                    <div class="bar"></div>
                                    <div class="bar"></div>
                                    <div class="bar"></div>
                                    <div class="fallback">Loading...</div>
                                </div>
                            </div>

                            {% endverbatim %}
                    
                        </div>
                    </div>
                    <!--   End of Ranking Scoreboard -->
                    <!-- end card-->
                </div> <!-- end col-->

                <div class="col-12">
                    <div class="card">
                        <div class="card-body" style="padding-top: 10px;">

                            {% verbatim %}

                            <div ng-switch="feed.Session1" class="table-rep-plugin">
                                <!-- RACE -->
                                <div class="table-wrapper" ng-cloak="" ng-switch-when="Race">
                                    <h4 class="mb-2 text-uppercase"><i class="mdi mdi mdi-car float-right text-muted"></i> Virtual Driver</h4>

                                    <div class="btn-toolbar">
                                        <form class="form col-12 mr-auto" role="form" id="form-virtual">
                                            <div class="row mb-3">
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="form-group h-100">
                                                        <label class="sr-only" for="select-driver">Driver</label>
                                                        <select class="custom-select is-valid h-100" id="select-driver" required  multiple>
                                                            <option selected disabled>Driver</option>
                                                            <option ng-repeat="line in lines track by $index" ng-if="line.Number">{{line.Driver.RacingNumber + " : " + line.GetDriverName(false)}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="form-group">
                                                        <label class="sr-only" for="input-drvier-name">Ghost</label>
                                                        <input type="text" class="form-control is-valid" id="input-drvier-name" placeholder="Ghost" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="sr-only" for="input-gap-add">Time</label>
                                                        <input type="text" class="form-control is-valid" id="input-gap-add" placeholder="Time" required >
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="sr-only" for="select-color">Color</label>
                                                        <select class="custom-select is-valid" id="select-color" required>
                                                            <option selected disabled>Color</option>
                                                            <option value="bg-success text-white" class="bg-success text-white">GREEN</option>
                                                            <option value="bg-dark text-white" class="bg-dark text-white">DARK</option>
                                                            <option value="bg-warning text-white" class="bg-warning text-white">YELLOW</option>
                                                            <option value="bg-info text-white" class="bg-info text-white">LIGHT GREEN</option>
                                                            <option value="bg-primary text-white" class="bg-primary text-white">LIGHT PURPLE</option>
                                                            <option value="bg-danger text-white" class="bg-danger text-white">RED</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <div class="ml-auto mr-auto">
                                            <button class="btn btn-outline-warning waves-effect waves-light mr-1" id="btn-add-fast">
                                                <i class="mdi mdi-account-star"></i> 
                                                FAST
                                            </button>
                                            <button class="btn btn-outline-success waves-effect waves-light mr-1" id="btn-add">
                                                <i class="mdi mdi-account-plus-outline"></i> 
                                                ADD
                                            </button>
                                            <button class="btn btn-outline-danger waves-effect waves-light mr-1" id="btn-delete">
                                                <i class="mdi mdi-account-remove-outline"></i> 
                                                DEL
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            {% endverbatim %}

                        </div> <!-- end card-body-->
                    </div> <!-- end card-->
                </div> <!-- end col-->

            </div> <!-- end row -->

        </div> <!-- end col -->

    </div>
</div>


{% endblock content %}

{% block extra_js %}

<!-- third party js -->
<script src="{% static 'js/vendor/Chart.bundle.min.js' %}"></script>
<script src="{% static 'js/vendor/sweetalert2.min.js' %}"></script>
<script src="{% static 'js/vendor/powerange.js' %}"></script>
<!-- <script src="{% static 'js/vendor/jquery.tabledit.js' %}"></script> -->
<!-- <script src="{% static 'js/vendor/custombox.legacy.min.js' %}"></script> -->
<!-- third party js ends -->

<!-- signalR js -->
<script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'js/modernizr-custom.js' %}"></script>
<script src="{% static 'js/jquery.signalR-2.4.1.min.js' %}"></script>
<script src="{% static 'js/angular-1.5.0.min.js' %}"></script>
<script src="{% static 'js/hubs.js' %}"></script>
<script src="{% static 'js/timing.js' %}"></script>
<!-- signalR js ends -->

{% endblock extra_js %}