{% extends 'layouts/main.layout.html' %}

{% load static %}

{% block title %}
Formula - VIRTUAL
{% endblock title %}

{% block extra_css %}

    <link href="{% static 'css/vendor/sweetalert2.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/vendor/powerange.css' %}" rel="stylesheet" type="text/css" />
    <!-- <link href="{% static 'css/vendor/custombox.min.css' %}" rel="stylesheet" type="text/css" /> -->
    
{% endblock extra_css %}


{% block content %}

    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="/">Formula Live Site</a></li>
                            <li class="breadcrumb-item active">virtual</li>
                        </ol>
                    </div>
                    <div class="page-title row">
                        <h4 class="page-title col-auto">
                            Virtual - Live Scoreboard
                        </h4>
                        <div class="col-auto align-item-center">
                            <!-- <button class="btn btn-info waves-effect px-4 align-self-center report-btn ml-2" id="btn-replay" data-toggle="modal" data-target="#custom-modal" data-animation="bounce" data-plugin="custommodal" data-overlayColor="#38414a" style="width: 166px;">
                                <span id="spinner-replay" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
                                <span class="spinner-title">Replay Session</span>
                            </button> -->
                            <!-- player controller bar -->
                            <!-- <div id="slider-player" class="float-right ml-3" hidden>
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-secondary" id="btn-play"><i class="mdi mdi-play"></i></button>
                                    <button type="button" class="btn btn-secondary" id="btn-pause"><i class="mdi mdi-pause"></i></button>
                                    <button type="button" class="btn btn-secondary" id="btn-stop"><i class="mdi mdi-stop"></i></button>
                                </div>
                                <div class="float-right" style="width: 300px; margin: 42px 108px 0px 90px;">
                                    <div class="slider-wrapper">
                                        <input type="text" class="js-callback" />
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <!-- custom modal -->
                    <div id="custom-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title mt-0" id="exampleModalLabel">Select the old session to replay</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <ul class="list-unstyled">
                                        {% for ses in sessions_all %}
                                        <li>
                                            <a class="select-session" data-dismiss="modal" aria-label="Close" href="#" data-session="{{ ses.id }}">
                                                {{ ses.title }}
                                            </a>
                                            <span class="float-right">{{ ses.start_time }}</span>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div><!-- /.modal-content -->
                        </div>
                    </div><!-- /.modal -->
                </div>
            </div>
        </div>     
        <!-- end page title --> 

        <div class="row">

            <div class="col-lg-2 col-md-12">

                <div class="row" ng-switch="feed.Session1">
                    
                {% verbatim %}

                    <!-- RACE -->
                    <div class="col-12" ng-cloak="" ng-switch-when="Race">

                        <div class="card">
                            <div class="card-body" style="padding-top: 0px;">
                                <div class="table-responsive mt-3" data-pattern="priority-columns">
                                    <table class="table table-sm table-bordered mb-0">
                                        <!-- <tfoot>
                                            <tr>
                                                <th scope="col" class="text-center">P</th>
                                                <th scope="col" class="text-center">NO</th>
                                                <th scope="col" class="text-center">NAME</th>
                                                <th scope="col" class="text-center">GAP</th>
                                            </tr>
                                        </tfoot> -->
                                        <tbody>
                                            <tr ng-repeat="line in sortedRealDrivers track by $index" ng-if="customSelectedDriverPosition && customSelectedDriverPosition > line.pos">
                                                <td class="text-center" ng-bind="line.pos"></td>
                                                <td class="text-center" ng-bind="line.number"></td>
                                                <td class="" ng-bind="line.shortName"></td>
                                                <td class="text-center" ng-bind="-(getDifferenceGAP(customSelectedDriverPosition, line.pos))"></td>
                                            </tr>
                                        </tbody>
                                    </table><!--end /table-->
                                </div><!--end /tableresponsive-->
                                <div class="form-group mt-1 mb-1">
                                    <label class="sr-only" for="select-driver">Driver to Select</label>
                                    <select class="custom-select is-valid" id="select-driver-left" ng-model="customSelectedDriverName" ng-change="setPositionFromName(customSelectedDriverName)" required>
                                        <option selected disabled>Driver to Select</option>
                                        <option ng-repeat="line in sortedRealDrivers track by $index" ng-if="line.number" value="{{line.name}}" ng-selected="customSelectedDriverName == line.name">
                                            {{line.pos + " : " + line.shortName}}
                                        </option>
                                    </select>
                                </div>
                                <div class="table-responsive" data-pattern="priority-columns">
                                    <table class="table table-sm table-bordered mb-0">
                                        <!-- <thead>
                                            <tr>
                                                <th scope="col" class="text-center">P</th>
                                                <th scope="col" class="text-center">NO</th>
                                                <th scope="col" class="text-center">NAME</th>
                                                <th scope="col" class="text-center">GAP</th>
                                            </tr>
                                        </thead> -->
                                        <tbody>
                                            <tr ng-repeat="line in sortedRealDrivers track by $index" ng-if="customSelectedDriverPosition && customSelectedDriverPosition < line.pos">
                                                <td class="text-center" ng-bind="line.pos"></td>
                                                <td class="text-center" ng-bind="line.number"></td>
                                                <td class="" ng-bind="line.shortName"></td>
                                                <td class="text-center" ng-bind="getDifferenceGAP(line.pos, customSelectedDriverPosition)"></td>
                                            </tr>
                                        </tbody>
                                    </table><!--end /table-->
                                </div><!--end /tableresponsive-->
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->

                    </div>

                {% endverbatim %}

                </div> <!-- end row -->

            </div> <!-- end col -->

            <div class="col-lg-2 col-md-12">

                <div class="row" ng-switch="feed.Session1">
                    
                {% verbatim %}

                    <!-- RACE -->
                    <div class="col-12" ng-cloak="" ng-switch-when="Race">

                        <div class="card">
                            <div class="card-body" style="padding-top: 0px;">
                                <div class="table-responsive mt-3" data-pattern="priority-columns">
                                    <table class="table table-sm table-bordered mb-0">
                                        <!-- <tfoot>
                                            <tr>
                                                <th scope="col" class="text-center">P</th>
                                                <th scope="col" class="text-center">NO</th>
                                                <th scope="col" class="text-center">NAME</th>
                                                <th scope="col" class="text-center">GAP</th>
                                            </tr>
                                        </tfoot> -->
                                        <tbody>
                                            <tr ng-repeat="line in sortedRealDrivers track by $index" ng-if="customSelectedDriverPosition1 && customSelectedDriverPosition1 > line.pos">
                                                <td class="text-center" ng-bind="line.pos"></td>
                                                <td class="text-center" ng-bind="line.number"></td>
                                                <td class="" ng-bind="line.shortName"></td>
                                                <td class="text-center" ng-bind="-(getDifferenceGAP(customSelectedDriverPosition1, line.pos))"></td>
                                            </tr>
                                        </tbody>
                                    </table><!--end /table-->
                                </div><!--end /tableresponsive-->
                                <div class="form-group mt-1 mb-1">
                                    <label class="sr-only" for="select-driver">Driver to Select</label>
                                    <select class="custom-select is-valid" id="select-driver-left" ng-model="customSelectedDriverName1" ng-change="setPositionFromName1(customSelectedDriverName1)" required>
                                        <option selected disabled>Driver to Select</option>
                                        <option ng-repeat="line in sortedRealDrivers track by $index" ng-if="line.number" value="{{line.name}}" ng-selected="customSelectedDriverName1 == line.name">
                                            {{line.pos + " : " + line.shortName}}
                                        </option>
                                    </select>
                                </div>
                                <div class="table-responsive" data-pattern="priority-columns">
                                    <table class="table table-sm table-bordered mb-0">
                                        <!-- <thead>
                                            <tr>
                                                <th scope="col" class="text-center">P</th>
                                                <th scope="col" class="text-center">NO</th>
                                                <th scope="col" class="text-center">NAME</th>
                                                <th scope="col" class="text-center">GAP</th>
                                            </tr>
                                        </thead> -->
                                        <tbody>
                                            <tr ng-repeat="line in sortedRealDrivers track by $index" ng-if="customSelectedDriverPosition1 && customSelectedDriverPosition1 < line.pos">
                                                <td class="text-center" ng-bind="line.pos"></td>
                                                <td class="text-center" ng-bind="line.number"></td>
                                                <td class="" ng-bind="line.shortName"></td>
                                                <td class="text-center" ng-bind="getDifferenceGAP(line.pos, customSelectedDriverPosition1)"></td>
                                            </tr>
                                        </tbody>
                                    </table><!--end /table-->
                                </div><!--end /tableresponsive-->
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->

                    </div>

                {% endverbatim %}

                </div> <!-- end row -->

            </div> <!-- end col -->

            <div class="col-lg-6 col-md-12">

                <div class="row">

                    <div class="col-12">
                        <!--   Start of Ranking Scoreboard -->
                        <div class="card ">
                            <div class="card-body" style="padding-top: 10px; padding-bottom: 10px;">
                                <h4 class="mb-2 text-uppercase"><i class="mdi mdi-clipboard-text-outline float-right text-muted"></i> Live Ranking Scoreboard</h4>
                        
                                {% verbatim %}

                                <div ng-switch="feed.Session1" class="table-rep-plugin">
                                    <!-- RACE -->
                                    <div class="table-wrapper" ng-cloak="" ng-switch-when="Race">
                                        <!-- <div class="btn-toolbar mb-3">
                                            <div class="btn-group focus-btn-group">
                                                <button class="btn btn-primary" id="btn-table-focus"><span class="mdi mdi-crosshairs-gps"></span> Focus</button>
                                            </div>
                                            <div class="btn-group dropdown-btn-group ml-auto">
                                                <button class="btn btn-primary" id="btn-display-all">Display all</button>
                                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Display <span class="caret"></span>
                                                </button>
                                                    <ul class="dropdown-menu dropdown-menu-animated">
                                                        <li class="dropdown-item checkbox-row"><input type="checkbox" name="toggle-tech-companies-1-col-1" id="toggle-tech-companies-1-col-1" value="tech-companies-1-col-1" checked> <label for="toggle-tech-companies-1-col-1">Position</label></li>
                                                        <li class="dropdown-item checkbox-row"><input type="checkbox" name="toggle-tech-companies-1-col-2" id="toggle-tech-companies-1-col-2" value="tech-companies-1-col-2" checked> <label for="toggle-tech-companies-1-col-2">Racing Number</label></li>
                                                        <li class="dropdown-item checkbox-row"><input type="checkbox" name="toggle-tech-companies-1-col-3" id="toggle-tech-companies-1-col-3" value="tech-companies-1-col-3" checked> <label for="toggle-tech-companies-1-col-3">NAME</label></li>
                                                        <li class="dropdown-item checkbox-row"><input type="checkbox" name="toggle-tech-companies-1-col-4" id="toggle-tech-companies-1-col-4" value="tech-companies-1-col-4" checked> <label for="toggle-tech-companies-1-col-4">GAP</label></li>
                                                        <li class="dropdown-item checkbox-row"><input type="checkbox" name="toggle-tech-companies-1-col-5" id="toggle-tech-companies-1-col-5" value="tech-companies-1-col-5" checked> <label for="toggle-tech-companies-1-col-5">INTERVAL</label></li>
                                                        <li class="dropdown-item checkbox-row"><input type="checkbox" name="toggle-tech-companies-1-col-6" id="toggle-tech-companies-1-col-6" value="tech-companies-1-col-6" checked> <label for="toggle-tech-companies-1-col-6">BEST</label></li>
                                                        <li class="dropdown-item checkbox-row"><input type="checkbox" name="toggle-tech-companies-1-col-7" id="toggle-tech-companies-1-col-7" value="tech-companies-1-col-7" checked> <label for="toggle-tech-companies-1-col-7">Sector 1</label></li>
                                                        <li class="dropdown-item checkbox-row"><input type="checkbox" name="toggle-tech-companies-1-col-8" id="toggle-tech-companies-1-col-8" value="tech-companies-1-col-8" checked> <label for="toggle-tech-companies-1-col-8">Sector 2</label></li>
                                                        <li class="dropdown-item checkbox-row"><input type="checkbox" name="toggle-tech-companies-1-col-9" id="toggle-tech-companies-1-col-9" value="tech-companies-1-col-9" checked> <label for="toggle-tech-companies-1-col-9">Sector 3</label></li>
                                                        <li class="dropdown-item checkbox-row"><input type="checkbox" name="toggle-tech-companies-1-col-10" id="toggle-tech-companies-1-col-10" value="tech-companies-1-col-10" checked> <label for="toggle-tech-companies-1-col-10">Lap Time</label></li>
                                                        <li class="dropdown-item checkbox-row"><input type="checkbox" name="toggle-tech-companies-1-col-11" id="toggle-tech-companies-1-col-11" value="tech-companies-1-col-11" checked> <label for="toggle-tech-companies-1-col-11">LAP</label></li>
                                                        <li class="dropdown-item checkbox-row"><input type="checkbox" name="toggle-tech-companies-1-col-12" id="toggle-tech-companies-1-col-12" value="tech-companies-1-col-12" checked> <label for="toggle-tech-companies-1-col-12">PIT</label></li>
                                                    </ul>
                                            </div>
                                        </div> -->

                                        <div class="table-responsive mb-0" id="main-panel-table" data-pattern="priority-columns">
                                            <table class="table table-striped mb-0 table-bordered dt-responsive nowrap dataTable no-footer dtr-inline" id="table-board" aria-hidden="true">
                                                <thead class="text-center">
                                                    <tr>
                                                        <th class="hidden"></th>
                                                        <th class="position" value="tech-companies-1-col-1">P</th>
                                                        <th class="car-number" value="tech-companies-1-col-2">NO</th>
                                                        <th class="driver-full-name" value="tech-companies-1-col-3">NAME</th>
                                                        <th class="gap" value="tech-companies-1-col-4">GAP</th>
                                                        <th class="interval" value="tech-companies-1-col-5">INT</th>
                                                        <th class="best-lap" value="tech-companies-1-col-10">TIME</th>
                                                        <th class="sector1-time" value="tech-companies-1-col-7">S1</th>
                                                        <th class="sector2-time" value="tech-companies-1-col-8">S2</th>
                                                        <th class="sector3-time" value="tech-companies-1-col-9">S3</th>
                                                        <th class="best" value="tech-companies-1-col-6">BEST</th>
                                                        <th class="lap" value="tech-companies-1-col-11">LAP</th>
                                                        <th class="pit" value="tech-companies-1-col-12">PIT</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr 
                                                        ng-repeat="line in sortedRealDrivers track by $index" 
                                                        ng-if="line.number" 
                                                        class="{{line.colorValue}} {{(line.isReal)?'':'is-virtual'}} {{(line.hasFocusClass)?'focused':'unfocused'}}"
                                                        id="tr-{{line.indexKey}}"
                                                    >
                                                        <td class="text-center">
                                                            <div class="checkbox">
                                                                <div class="custom-control custom-checkbox">
                                                                    <input type="checkbox" class="custom-control-input" id="customCheck{{line.indexKey}}" data-parsley-multiple="groups" data-parsley-mincheck="2" data-driver-name="{{line.name}}" >
                                                                    <label class="custom-control-label" for="customCheck{{line.indexKey}}"></label>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td class="position text-center" ng-bind="line.pos"></td>
                                                        <td class="car-number text-center" ng-bind="line.number"></td>
                                                        <td class="driver-full-name" ng-bind="line.name"></td>
                                                        <td class="gap text-center" ng-bind="line.GAP"></td>
                                                        <td class="interval text-center" ng-bind="line.INT"></td>
                                                        <td class="best-lap text-center" ng-bind="(line.isReal)?line.LAPTIME:null" ng-style="{color:(line.color)}"></td>
                                                        <td class="sector1-time text-center" ng-bind="(line.isReal)?line.S1:null" ng-style="{color:(line.color1)}"></td>
                                                        <td class="sector2-time text-center" ng-bind="(line.isReal)?line.S2:null" ng-style="{color:(line.color2)}"></td>
                                                        <td class="sector3-time text-center" ng-bind="(line.isReal)?line.S3:null" ng-style="{color:(line.color3)}"></td>
                                                        <td class="best text-center" ng-bind="(line.isReal)?line.BEST:null"></td>
                                                        <td class="lap text-center" ng-bind="(line.isReal)?line.LAP:null"></td>
                                                        <td class="pit text-center" ng-bind="(line.isReal)?line.PIT:null"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                        
                                    <!-- LOADER -->
                                    <div class="loader" ng-switch-default="" aria-hidden="true">
                                        <div class="bar"></div>
                                        <div class="bar"></div>
                                        <div class="bar"></div>
                                        <div class="fallback">Loading...</div>
                                    </div>
                                </div>

                                {% endverbatim %}
                        
                            </div>
                        </div>
                        <!--   End of Ranking Scoreboard -->
                        <!-- end card-->
                    </div> <!-- end col-->

                </div> <!-- end row -->

            </div> <!-- end col -->

            <div class="col-lg-2 col-md-12">

                <div class="row">

                    <div class="col-12">
                        <div class="card">
                            <div class="card-body" style="padding-top: 10px;">
                                <div ng-switch="feed.Session1">
                                    <div ng-cloak="" ng-switch-when="Race">
                                        <h4 class="mb-2"><i class="mdi mdi-vlc float-right text-muted"></i> REMAINING</h4>
                                        <div class="table-responsive-sm">
                                            <table class="table table-sm mb-0">
                                                <tbody>
                                                    <tr>
                                                        <td style="width: 30%;">
                                                            <i class="mdi mdi-eye-circle text-muted"></i> 
                                                            <span ng-if="status.session === 'Started'">CURRENT</span>
                                                            <span ng-if="status.session !== 'Started'">NEXT</span>
                                                        </td>
                                                        <td><span class="text-muted font-weight-bold">{{ circuit_title }}</span></td>
                                                    </tr>
                                                    <tr ng-controller="status">
                                                        <td><i class="mdi mdi-timer-sand text-muted"></i> Time</td>
                                                        <td>
                                                            <span class="text-muted font-weight-bold" id="timer-clock" ng-if="status.session !== 'Started'"></span>
                                                            <span class="text-muted font-weight-bold" id="timer-clock-running" ng-if="status.session === 'Started'" ng-bind="status.countdown"></span>
                                                        </td>
                                                    </tr>
                                                    <tr ng-controller="status">
                                                        <td><i class="mdi mdi-clipboard-text-play-outline text-muted"></i> Lap</td>
                                                        <td>
                                                            <span class="text-muted font-weight-bold" id="span-CurrentLap" ng-repeat="line in sortedRealDrivers | limitTo: 1" onchange="refreshCurrentLap()" hidden>
                                                                {% verbatim %}{{line.LAP}}{% endverbatim %}
                                                            </span>
                                                            <span class="text-muted font-weight-bold" id="span-RemainLap"></span>
                                                            /
                                                            <span class="text-muted font-weight-bold" id="span-TotalLap">{{ session_laps }}</span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table><!--end /table-->
                                        </div><!--end /tableresponsive-->
                                    </div>
                                </div>
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </div> <!-- end col-->

                    <script>
                        var t = parseInt("{{ difftime }}"); 
                        var x = setInterval(function() { 
                            var days = Math.floor(t / (60 * 60 * 24)); 
                            var hours = Math.floor((t%(60 * 60 * 24))/(60 * 60)); 
                            var minutes = Math.floor((t % (60 * 60)) / (60)); 
                            var seconds = Math.floor((t % (60))); 
                            if(document.getElementById("timer-clock")){
                                document.getElementById("timer-clock").innerHTML = ("0" + days).slice(-2) + "d " + ("0" + hours).slice(-2) + "h " + ("0" + minutes).slice(-2) + "m " + ("0" + seconds).slice(-2) + "s "; 
                            } 
                            if (t < 0 || (document.getElementById("timer-clock-running") && document.getElementById("timer-clock-running").innerHTML != "")) { 
                                clearInterval(x); 
                                if(document.getElementById("timer-clock")) document.getElementById("timer-clock").innerHTML = ""; 
                            } 
                            t--;
                        }, 1000); 

                        function refreshCurrentLap(){
                            if(document.getElementById("span-CurrentLap") && document.getElementById("span-RemainLap") && document.getElementById("span-TotalLap")){
                                if(parseInt(document.getElementById("span-CurrentLap").innerHTML) && parseInt(document.getElementById("span-TotalLap").innerHTML)){
                                    let totalTime = parseInt(document.getElementById("span-TotalLap").innerHTML);
                                    let currentTime = parseInt(document.getElementById("span-CurrentLap").innerHTML);
                                    if(totalTime >= currentTime){
                                        document.getElementById("span-RemainLap").innerHTML = totalTime - currentTime;
                                    }
                                }
                                else{
                                    document.getElementById("span-RemainLap").innerHTML = document.getElementById("span-TotalLap").innerHTML;
                                }
                            }
                        }

                        refreshCurrentLap();
                    </script>

                    <div class="col-12">
                        <div class="card">
                            <div class="card-body" style="padding-top: 10px;">

                                {% verbatim %}

                                <div ng-switch="feed.Session1" class="table-rep-plugin">
                                    <!-- RACE -->
                                    <div class="table-wrapper" ng-cloak="" ng-switch-when="Race">
                                        <h4 class="mb-2 text-uppercase"><i class="mdi mdi mdi-car float-right text-muted"></i> Virtual Driver</h4>

                                        <div class="btn-toolbar">
                                            <form class="form ml-auto mr-auto" role="form" id="form-virtual">
                                                <div class="row mb-1">
                                                    <div class="col-12 form-group" style="padding-left: 5px; padding-right: 5px;">
                                                        <label class="sr-only" for="select-driver">Driver</label>
                                                        <select class="custom-select is-valid" id="select-driver" required  multiple>
                                                            <option selected disabled>Driver</option>
                                                            <option ng-repeat="line in lines track by $index" ng-if="line.Number">{{line.Driver.RacingNumber + " : " + line.GetDriverName(false)}}</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-12 form-group" style="padding-left: 5px; padding-right: 5px;">
                                                        <label class="sr-only" for="input-drvier-name">Ghost</label>
                                                        <input type="text" class="form-control is-valid" id="input-drvier-name" placeholder="Ghost" required style="width:100%;">
                                                    </div>
                                                </div>
                                                <div class="row mb-1">
                                                    <div class="col-6 form-group" style="padding-left: 5px; padding-right: 5px;">
                                                        <label class="sr-only" for="input-gap-add">Time</label>
                                                        <input type="text" class="form-control is-valid" id="input-gap-add" placeholder="Time" required  style="width:100%;">
                                                    </div>
                                                    <div class="col-6 form-group" style="padding-left: 5px; padding-right: 5px;">
                                                        <label class="sr-only" for="select-color">Color</label>
                                                        <select class="custom-select is-valid" id="select-color" required style="width:100%;">
                                                            <option selected disabled>Color</option>
                                                            <option value="bg-success text-white" class="bg-success text-white">GREEN</option>
                                                            <option value="bg-dark text-white" class="bg-dark text-white">DARK</option>
                                                            <option value="bg-warning text-white" class="bg-warning text-white">YELLOW</option>
                                                            <option value="bg-info text-white" class="bg-info text-white">LIGHT GREEN</option>
                                                            <option value="bg-primary text-white" class="bg-primary text-white">LIGHT PURPLE</option>
                                                            <option value="bg-danger text-white" class="bg-danger text-white">RED</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </form>
                                            <div class="ml-auto mr-auto">
                                                <button class="btn btn-outline-warning waves-effect waves-light mr-1" id="btn-add-fast">
                                                    <!-- <i class="mdi mdi-account-star"></i>  -->
                                                    FAST
                                                </button>
                                                <button class="btn btn-outline-success waves-effect waves-light mr-1" id="btn-add">
                                                    <!-- <i class="mdi mdi-account-plus-outline"></i>  -->
                                                    ADD
                                                </button>
                                                <button class="btn btn-outline-danger waves-effect waves-light mr-1" id="btn-delete">
                                                    <!-- <i class="mdi mdi-account-remove-outline"></i>  -->
                                                    DEL
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                {% endverbatim %}

                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </div> <!-- end col-->

                    <div class="col-12">
                        <div class="card">
                            <div class="card-body" style="padding-top: 10px;">
                                <div ng-switch="feed.Session1">
                                    <div ng-cloak="" ng-switch-when="Race">
                                        <h4 class="mb-2 text-uppercase"><i class="mdi mdi-sort-ascending float-right text-muted"></i> TOP 10 Laptime</h4>
                                        <div class="table-responsive" data-pattern="priority-columns">
                                            <table class="table table-sm table-bordered mb-0">
                                                <thead>
                                                    <tr>
                                                        <th scope="col" class="text-center">P</th>
                                                        <th scope="col" class="text-center">NAME</th>
                                                        <th scope="col" class="text-center">TIME</th>
                                                        <th scope="col" class="text-center">LAP</th>
                                                        <th scope="col" class="text-center">PNT</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="line in bestSorted track by $index">
                                                        <td class="text-center" ng-bind="line.position"></td>
                                                        <td class="text-center" ng-bind="line.name"></td>
                                                        <td class="text-center" ng-bind="line.bestLapTime"></td>
                                                        <td class="text-center" ng-bind="line.lap"></td>
                                                        <td class="text-center" ng-bind="line.points" ng-style="{color:(line.points==='YES')?'#29e446':'#f93b7a'}"></td>
                                                    </tr>
                                                </tbody>
                                            </table><!--end /table-->
                                        </div><!--end /tableresponsive-->
                                    </div>
                                </div>
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </div> <!-- end col-->

                </div> <!-- end row -->

            </div> <!-- end col -->

        </div>
        <!-- end row -->

    </div>

{% endblock content %}

{% block extra_js %}

    <!-- third party js -->
    <script src="{% static 'js/vendor/Chart.bundle.min.js' %}"></script>
    <script src="{% static 'js/vendor/sweetalert2.min.js' %}"></script>
    <script src="{% static 'js/vendor/powerange.js' %}"></script>
    <!-- <script src="{% static 'js/vendor/jquery.tabledit.js' %}"></script> -->
    <!-- <script src="{% static 'js/vendor/custombox.legacy.min.js' %}"></script> -->
    <!-- third party js ends -->

    <!-- signalR js -->
    <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'js/modernizr-custom.js' %}"></script>
    <script src="{% static 'js/jquery.signalR-2.4.1.min.js' %}"></script>
    <script src="{% static 'js/angular-1.5.0.min.js' %}"></script>
    <script src="{% static 'js/hubs.js' %}"></script>
    <script src="{% static 'js/timing.js' %}"></script>
    <!-- signalR js ends -->
    
{% endblock extra_js %}